flows3.json
[{"id":"bf495904.312148","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"85a4c8bc.b1b6f8","type":"inject","z":"bf495904.312148","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["6a46a9a3.ec4d18"]]},{"id":"6a46a9a3.ec4d18","type":"function","z":"bf495904.312148","name":"Payload","func":"msg.headers={\n    deviceKey: \"ovK7WOMYA0vmbY8H\"\n};\nmsg.payload= \"Temperature,,66\";\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":180,"wires":[["8eef3511.b2fbb8"]]},{"id":"8eef3511.b2fbb8","type":"http request","z":"bf495904.312148","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DP8nAWd0/datapoints.csv","tls":"","proxy":"","authType":"","x":350,"y":180,"wires":[["cd5d8cfb.9d435","ca9948ab.0c9578"]]},{"id":"cd5d8cfb.9d435","type":"http response","z":"bf495904.312148","name":"","statusCode":"","headers":{},"x":570,"y":120,"wires":[]},{"id":"ca9948ab.0c9578","type":"debug","z":"bf495904.312148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":200,"wires":[]}]
