flows1.json
[{"id":"edbb74fd.13a7c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9d0b919f.dca9d","type":"rpi-gpio out","z":"edbb74fd.13a7c8","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":630,"y":500,"wires":[]},{"id":"bc0a9f55.33185","type":"debug","z":"edbb74fd.13a7c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":440,"wires":[]},{"id":"9130e296.d2b82","type":"rpi-gpio in","z":"edbb74fd.13a7c8","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":60,"y":500,"wires":[["bc0a9f55.33185","947d6541.a0a198"]]},{"id":"947d6541.a0a198","type":"switch","z":"edbb74fd.13a7c8","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":580,"wires":[["4e7bf24b.88705c"],["a11513fe.487d"]]},{"id":"4e7bf24b.88705c","type":"change","z":"edbb74fd.13a7c8","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":580,"wires":[["9d0b919f.dca9d"]]},{"id":"a11513fe.487d","type":"change","z":"edbb74fd.13a7c8","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":640,"wires":[["9d0b919f.dca9d"]]}]
