flows (ALL).json
[{"id":"edbb74fd.13a7c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c1f22ee0.4063c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bf495904.312148","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9d0b919f.dca9d","type":"rpi-gpio out","z":"edbb74fd.13a7c8","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":630,"y":500,"wires":[]},{"id":"bc0a9f55.33185","type":"debug","z":"edbb74fd.13a7c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":440,"wires":[]},{"id":"9130e296.d2b82","type":"rpi-gpio in","z":"edbb74fd.13a7c8","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":60,"y":500,"wires":[["bc0a9f55.33185","947d6541.a0a198"]]},{"id":"947d6541.a0a198","type":"switch","z":"edbb74fd.13a7c8","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":580,"wires":[["4e7bf24b.88705c"],["a11513fe.487d"]]},{"id":"4e7bf24b.88705c","type":"change","z":"edbb74fd.13a7c8","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":580,"wires":[["9d0b919f.dca9d"]]},{"id":"a11513fe.487d","type":"change","z":"edbb74fd.13a7c8","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":640,"wires":[["9d0b919f.dca9d"]]},{"id":"3e17a03c.adcef","type":"inject","z":"c1f22ee0.4063c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["56638032.d9765"]]},{"id":"56638032.d9765","type":"function","z":"c1f22ee0.4063c","name":"Payload","func":"msg.headers=\n{\n    deviceKey: \"ovK7WOMYA0vmbY8H\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["195ec257.c8612e"]]},{"id":"e35538b7.2298b8","type":"http response","z":"c1f22ee0.4063c","name":"","statusCode":"","headers":{},"x":640,"y":80,"wires":[]},{"id":"5e9c0cc1.c0fe94","type":"debug","z":"c1f22ee0.4063c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":160,"wires":[]},{"id":"195ec257.c8612e","type":"http request","z":"c1f22ee0.4063c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DP8nAWd0/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":450,"y":80,"wires":[["e35538b7.2298b8","5e9c0cc1.c0fe94"]]},{"id":"85a4c8bc.b1b6f8","type":"inject","z":"bf495904.312148","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["6a46a9a3.ec4d18"]]},{"id":"6a46a9a3.ec4d18","type":"function","z":"bf495904.312148","name":"Payload","func":"msg.headers={\n    deviceKey: \"ovK7WOMYA0vmbY8H\"\n};\nmsg.payload= \"Temperature,,66\";\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":180,"wires":[["8eef3511.b2fbb8"]]},{"id":"8eef3511.b2fbb8","type":"http request","z":"bf495904.312148","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DP8nAWd0/datapoints.csv","tls":"","proxy":"","authType":"","x":350,"y":180,"wires":[["cd5d8cfb.9d435","ca9948ab.0c9578"]]},{"id":"cd5d8cfb.9d435","type":"http response","z":"bf495904.312148","name":"","statusCode":"","headers":{},"x":570,"y":120,"wires":[]},{"id":"ca9948ab.0c9578","type":"debug","z":"bf495904.312148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":200,"wires":[]}]
