flows2.json
[{"id":"c1f22ee0.4063c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3e17a03c.adcef","type":"inject","z":"c1f22ee0.4063c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["56638032.d9765"]]},{"id":"56638032.d9765","type":"function","z":"c1f22ee0.4063c","name":"Payload","func":"msg.headers=\n{\n    deviceKey: \"ovK7WOMYA0vmbY8H\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["195ec257.c8612e"]]},{"id":"e35538b7.2298b8","type":"http response","z":"c1f22ee0.4063c","name":"","statusCode":"","headers":{},"x":640,"y":80,"wires":[]},{"id":"5e9c0cc1.c0fe94","type":"debug","z":"c1f22ee0.4063c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":160,"wires":[]},{"id":"195ec257.c8612e","type":"http request","z":"c1f22ee0.4063c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DP8nAWd0/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":450,"y":80,"wires":[["e35538b7.2298b8","5e9c0cc1.c0fe94"]]}]
